* {
  padding: 0%;
  margin: 0%;
  /* box-sizing: border-box; */
}
.bigbox {
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}
.leftbox {
  position: absolute;
  position: sticky;
  top: 0%;
  left: 0%;
  height: 100vh;
  flex: 1;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.rightbox {
  flex: 3;
  /* height: 100vh; */
  border: 6px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.righttopbox {
  height: 300px;
  width: 500px;
  border: 1px solid rgb(17, 230, 34);
}
.rightbottombox {
  height: 700px;
  width: 700px;
  border: 1px solid red;
}
.namebox {
  padding: 15px;
  height: 100px;
}
.otherleftbox {
  padding: 15px;
  height: 200px;
  /* border: 1px solid red; */
}
.name {
  font-size: xx-large;
  text-shadow: 10ch;
  text-decoration: underline blue;
}

.title {
  height: 50px;
  /* border: 1px solid black; */
  overflow: hidden;
}
.item {
  display: flex;
  height: 50px;
  font-size: 30px;
  color: rgb(235, 150, 15);
}
.wrapper {
  height: 50px;
  animation: move 3s infinite linear;
}
.item {
  animation: move 10s infinite linear;
}

@keyframes move {
  50% {
    color: white;
    transform: translateY(-50px);
  }
  100% {
    transform: translate(4);
    color: black;
    transform: translateY(-100px);
  }
}

.rightbox-outerbox {
  height: 200px;
  width: 200px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}

.rightbox-outerbox-box {
  margin: 5px 7px;
  height: 40px;
  width: 50px;
  border: 1px solid red;
  border-radius: 25%;
  overflow: scroll;
  animation: box 2s infinite alternate-reverse ease-in-out;
}
/*
@keyframes box {
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(-90deg);
    border: 1px;
    display: none;
    color: white;
  }
}

*/
.img-container {
  height: 200px;
  width: 200px;
  position: relative;
}
.img-container img {
  height: 100px;
  width: 100px;
  position: absolute;
}

.back.tilt {
  transform: rotateY(45deg);
}

@keyframes rotate1 {
  50% {
    transform: rotateY(45deg);
  }
  75% {
    transform: rotateY(60deg);
  }
  90% {
    transform: rotateY(80deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

.label {
  width: max-content;
  border-bottom: 1px solid slateblue;
}

.text {
  /* text-decoration: underline; */
}
