* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.panel {
  display: flex;
}
.sidepanel {
  height: 95vh;
  width: 20vw;
  margin-left: 3px;
  margin-top: 10px;
  border: 1px solid black;
}
.mainpanel {
  margin-top: 8vw;
  height: 80vh;
  width: 80vw;
  /* border: 1px solid dodgerblue; */
}
